<script lang="ts">
	import { onMount } from 'svelte';
	import init, { Task } from 'todo';

	let todos: Task[] = [];
	let newTaskTitle = '';

	onMount(async () => {
		await init();
		const todoOne = new Task('First Todo!');
		const todoTwo = new Task('Second Todo!');
		todos = [todoOne, todoTwo];
	});

	const createTask = async () => {
		let newTask = new Task(newTaskTitle);
		todos = [...todos, newTask];
		newTaskTitle = ''
		return newTask;
	};
</script>

<h1>Svelte todos</h1>
<ul>
	{#each todos as todo}
		<li>{todo.get_title()}</li>
	{/each}
</ul>

<input type="text" bind:value={newTaskTitle} placeholder="Create new todo" />
<button on:click={createTask}>+</button>
